/* for the form */

.form-label {
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

.form-input {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
}

.form-submit {
  margin-top: 20px;
  padding: 10px;
  background-color: #3ed043;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* for errors: */

    .error {
      color: red;
      font-size: small;
    }



/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #038ef1;
}

a {
  color: #007bff;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main Styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.button:hover {
  background-color: #0062cc;
}


/* for about us and contact us container */
footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
}

.footer-buttons a {
  color: #058cec;
  margin: 0 10px;
  text-decoration: none;
}


.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  overflow: hidden;
  white-space: nowrap;

}


.topnav a {
float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}




nav {
  display: inline-block;
}
.navbar_welcome_text {
position: absolute;
  top: 0;
  right: 0;
  margin: 14px 16px;
  color: #f2f2f2;
  text-align: center;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #3b6aa9;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #638fe0;
  color: white;
}

.upload_ad_form {
  position: absolute;
  top: 100px;
}

#products-page-div {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 20px;
  background-color: #d6d5d7;
  border: 2px solid #3fa3f5;
}



