{% extends "templateHome.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="style.css">
<div class="aboutus_container">
<div class = "aboutus_page_content">

    <h2 class = "aboutus_page_headings">VIBECOMMERCE</h2>
<!--        <img src="/static/aboutus_page_image.png" alt="About Us Image" class="aboutus_image" width="200" height="200" style="float: right; width: 30%;">-->
    <div class ="aboutus_page_paragraph">
    <p>VibeCommerce was established in May 2023 in Poland. This ecommerce website offers easy selling and buying of second hand products, new products or just some old items that you're trying to get rid of or buy for cheap. </p>
    <h2 class = "aboutus_page_headings"> MISSION</h2>
    <p> The mission of this ecommerce service is to simply make it easy for people to browse, buy and sell any kind of item without having to go to shops and waste their time.</p>
    <h2 class = "aboutus_page_headings"> WHY CHOOSE VIBECOMMERCE?</h2>
    <ul>
        <li><strong>Wide Variety :</strong>We offer a wide range of items across various categories ensuring that you can find exactly what you're looking for. </li><br>
        <li><strong>Convenience :</strong> With our platform, you have the ability to shop anytime, from anywhere in the world, without having to leave your house. Forget about long queues and crowded stores!</li><br>
        <li><strong>User Friendly Interface :</strong> Our website designed simply making it easy for people of any age to use. We ensure you that it is easy and simple to search for products, upload products and find the contact details of the seller.</li><br>
        <li><strong>Exceptional Customer Service :</strong> Here at VibeCommerce, we are always ready to assist you with any inquiries, concerns or issues that our customers may have. Customer satisfaction is our top priority.</li><br>
    </ul>
    </div>
</div>
</div>
{% endblock %}

{% block footer %}
<div style="position:relative;left:20px;right:20px;bottom:-500px;background-color:#96969b;">
    <p>Contact us at support@resaleyourproducts.com for any questions or concerns.</p>
    </div>
{% endblock %}




