{% extends "templateHome.html" %}
{% block main %}
<html lang="en">
<div style="position:relative;left:20px;top:50px;right:20px;">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>CONTACT US INFORMATION</title>-->
<!--</head>-->

<body>
<div>
  <h2>This is contact us page.</h2>
  <p>Here you can find contact info about our company. We are always open for suggestions.</p>
</div>
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type
specimen book. It has survived not only five centuries, but also the leap into
electronic typesetting, remaining essentially unchanged. It was popularised in
the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker
including versions of Lorem Ipsum.
</body>
</div>
</html>

{% endblock %}