{% extends "templateHome.html" %}
{% block main %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="style.css">
<div class="aboutus_container">
    <div id="contactus-page-div">
<div class = "contactus_page_content">
  <title>Contact Us -VibeCommerce</title>

    <h2 class = "contactus_page_headings">CONTACT INFORMATION</h2>
      <div class ="aboutus_page_paragraph">
    <p>Phone : +48 723 561 763 778</p>
    <p>Email : vibecommerce@gmail.com</p>
    <p>Physical Office Address : 148 Main Street, Lodz-9976, Poland</p>

  <h2 class = "contactus_page_headings"> Customer Support</h2>
  <p> Our dedicated customer support team is available to assist you during the following hours:</p>
  <p> Monday-Thursday 10:00am - 3:00 pm (CET) </p>
  <p> Please allow up to 24 hours for a response. We try our best to address your inquiries as soon as possible.</p>

  <h2 class = "contactus_page_headings"> Feedback and Suggestions</h2>
  <p> We value your suggestions and feedback to improve our service. If you have any ideas, suggestions or feedback, please reach out to feedback@vibecommerce.com</p>

  <h2 class = "contactus_page_headings">Business Hours</h2>
  <p>Our business hours are from Monday to Friday, 9:00 am - 5:00pm (CET). We may have variations during public holidays so please be aware of that.</p>
      </div>

</div>
</div>
</div>
</html>


{% endblock %}