<!DOCTYPE html>
{% extends "templateHome.html" %}
{% block main %}
<html>
<head>
    <title>Advertisement Details</title>
</head>
<body>
    <script src="static/script.js"></script>

    <h1>Advertisement Details</h1>
    <div>
        <h2>{{ data['Title'] }}</h2>
        <img src="" alt="Ad photo" width="200">
        <p><strong>Price:</strong> {{ data['Price'] }}</p>
        <p><strong>Condition:</strong> {{ data['Condition'] }}</p>
        <p><strong>Date Added:</strong> {{ data['Date Added'] }}</p>
        <p><strong>Negotiation:</strong> {{ data['Negotiation'] }}</p>
        <p><strong>Description:</strong> {{ data['Description'] }}</p>
        <button onclick="toggleDetails({{ data['idad'] }})">View Contact Info</button>
    </div>


    <div id="details-{{ data['idad'] }}"style="display:none">
        <p><strong>Phone Number:</strong> {{ data['Phone Number'] }}</p>
        <p><strong>Email:</strong> {{ data['Email'] }}</p>
    </div>


</body>
</html>
{% endblock %}


