<!DOCTYPE html>
{% extends "templateHome.html" %}
{% block main %}
    <div id="products-page-div">
<html>
<head>
    <title>Advertisement Details</title>
</head>
<body>
    <script src="static/script.js"></script>

    <h1>Advertisement Details</h1>
    <div>
        <h2>{{ data['title'] }}</h2>
        <img src="uploads/{{ data['photo'] }}" alt="Ad photo" width="300">

        {% if opened_by_owner==True %}
        <br> <button class="deletebutton" onclick="deleteAd({{ data['idad'] }})">Delete Ad</button> </br>
        <button type="submit">Edit Ad</button>
        {% endif %}

        <p><strong>Price(PLN):</strong> {{ data['price'] }}</p>
        <p><strong>Condition:</strong> {{ data['condition'] }}</p>
        <p><strong>Date Added:</strong> {{ data['date_added'] }}</p>
        <p><strong>Negotiation:</strong> {{ "Yes" if data['negotiation']==1 else "No" }}</p>
        <p><strong>Description:</strong> {{ data['description'] }}</p>
        <button onclick="toggleDetails({{ data['idad'] }})">View Contact Info</button>
    </div>


    <div id="details-{{ data['idad'] }}"style="display:none">
        <p><strong>Phone Number:</strong> {{ data['phone_number'] }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>


</body>
</html>
        </div>
{% endblock %}


