<!DOCTYPE html>
{% extends "templateHome.html" %}
{% block main %}
<div style="text-align: center;">
  <h1 class="heading_text_homepage">SELLING YOUR PRODUCTS MADE EASY</h1>
  <p class="homepage_paragraph">Welcome to our online marketplace where you can buy and sell new or pre-loved items.
    Discover great deals on a wide range of products from fashion to furniture. Whether you're looking to make some
    extra cash or find your next treasure, we've got you covered. Join our community of buyers and sellers today!</p>
  {% if not username %}
  <p><a class="sigup_link_homepage" href="/signup" style="font-size: 17px;">SIGN UP NOW</a></p>
  {% endif %}
</div>
{% endblock %}


