{% extends "templateHome.html" %}
{% block main %}
<head>
	<title>Log In Form</title>
	<!--<script src="../static/signup_validation.js"></script> -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<div class="form-container" style="margin-top: 50px;">
<form action="/login" method="post">
  <p>
    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="text" id="email" name="email">
  </p>
  <p>
    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password">



  </p>

  <p>
    <button id = "submit_button" class="form-submit" type="LogIn">LogIn</button>
    {% if login_error %}
      <span class="error">{{ login_error }}</span>
  {% endif %}
  </p>

</form>





{% endblock %}