{% extends "templateHome.html" %}
{% block main %}
<!--{% if username %}-->
<!--<div class="navbar_welcome_text">-->
<!--    <p>Welcome, {{ username }}! You are logged in.</p>-->
<!--</div>-->
<!--{% endif %}-->
<head>
	<title>Sign Up Form</title>
	<!--<script src="../static/signup_validation.js"></script> -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<div class="form-container" style="margin-top: 50px;">
<form action="/signup" method="post">
  <p>
    <label class="form-label" for="first_name">First Name:</label>
    <input class="form-input" type="text" id="first_name" name="first_name">
    {% if firstname_error %}
      <span class="error">{{ firstname_error }}</span>
    {% endif %}


  </p>
  <p>
    <label class="form-label" for="last_name">Last Name:</label>
    <input class="form-input" type="text" id="last_name" name="last_name">
    {% if lastname_error %}
      <span class="error">{{ lastname_error }}</span>
    {% endif %}

  </p>
  <p>
    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="text" id="email" name="email">
    {% if email_error %}
      <span class="error">{{ email_error }}</span>
    {% endif %}
  </p>
  <p>
    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password">


    {% if password_error %}
      <span class="error">{{ password_error }}</span>
    {% endif %}
  </p>
  <p>
    <label class="form-label" for="repeat_password">Repeat Password:</label>
    <input class="form-input" type="password" id="repeat_password" name="repeat_password">
    {% if repeat_password_error %}
      <span class="error">{{ repeat_password_error }}</span>
    {% endif %}
  </p>
  <p>
    <button id = "submit_button" class="form-submit" type="submit">Submit</button>
  </p>
</form>





{% endblock %}