<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>

<link rel="stylesheet" href="../static/style.css">
<title>{{ page_title }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>


</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">

<div class="topnav">

  <nav>
		  <ul>
      <li><a  href="/home" class="active" >HOME</a></li>
	  <li><a  href="/products" >PRODUCTS</a></li>
      {% if username %}
			  <li><a href="/myads">MY ADS</a></li>
	  <li><a  href="/uploadads" >UPLOAD ADS</a></li>
			  <li><a  href="/logout" >LOG OUT</a></li>
	  <div class="navbar_welcome_text">
    <p>Welcome, {{ username }}! You are logged in.</p>
    </div>
      {% else %}
        <li><a  href="/login" >LOG IN</a></li>
      {% endif %}
			  <li class = "search_ads_bar">
				  <form action ="/searchads" method = "GET">
					  <input type="text" name="keywords" placeholder="Type product name...">
					  <button type="submit">Search</button>
				  </form>
			  </li>
			  </ul>
  </nav>
</div>



<!-- Main Content Section -->
	<main>
		{% block main %}

		{% endblock %}
	</main>

	<!-- Footer Section -->
	<footer>

			<div class="footer-buttons">
    		<a href="/aboutus">ABOUT US</a>
    		<a href="/contactus">CONTACT US</a>
			</div>

	</footer>

</body>
</html>
