{% extends "templateHome.html" %}
{% block main %}

<form action="/uploadads" method="post", class="upload_ad_form", enctype="multipart/form-data">
  <div>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>
  </div>

  <div>
  <label for="photo">Photo:</label>
  <input type="file" id="photo" name="photo">
  </div>

  <div>
  <label for="price">Price(PLN):</label>
  <input type="number" id="price" name="price" required>
  </div>

  <div>
  <label for="negotiation">Negotiation:</label>
  <input type="checkbox" id="negotiation" name="negotiation">
  </div>

  <div>
  <label for="condition">Condition:</label>
  <select id="condition" name="condition">
    <option value="New">New</option>
    <option value="Used">Used</option>
  </select>
  </div>

  <div>
  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="4" cols="50" required></textarea>
  </div>

  <div>
  <label for="phone">Phone:</label>
  <input type="tel" id="phone" name="phone" required>
  </div>

  <div>
  <input type="submit" value="UPLOAD AD">
  </div>

</form>
{% endblock %}
